a {
  border: 2px;
  border-color: black;
  border-radius: 3px;
  background-color: gray;
  padding: 5px;
  text-decoration: none;
  color: white;
}
div{
  text-align: center;
  font-size: 18px;
}
h1{
  color:red;
}
h2{
  color:orange
}
h3{
  color:yellow
}
h4{
  color:green
}
h5{
  color:lightskyblue
}
h6{
  color:blue
}
img{
  margin-top: 100px
}
ul{
  line-height: 10px;
}
ol{
  line-height: 60px;
}
tr{
  background: gray;
}
a{
  margin-left:38vw;
}
form input{
  padding:10px
}
form button{
  padding:15px 24.5px
}
.button{
  color: #403105
}
body{
  background-color: lightpink;
}
form{
  margin: auto 40%
}